*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "roboto";
}
.no-scroll{
    overflow: hidden;
}
#header{
    width: 100%;
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 769px) {
    #header{
      
        padding: 1rem 0 1rem 1em;
        
    }
}
#boton-logo{
    background: none;
    border: none;
    cursor: pointer;
}
#logo-arg-mtb{
width: 5rem;
}
#boton-menu, #boton-cierre{
    background: none;
    border: none;
    cursor: pointer;
}
#boton-cierre{
    font-size: 3rem;
    display: inline;
    filter: invert(1);
    display: none;
}
#icono-hamburguesa{
    width: 2rem;
}
#icono-de-cierre{
    font-size: 3rem;
}
#abrir-menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 1000vh;
    background-color: #272727;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}
nav{
    display: none;
}
@media (min-width: 769px) {
    nav{
        display: flex;
        
        justify-content: space-around;
        
    }
}
.nav{
    width: 50vh;
    opacity: 1;
}
.nav-abierto{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem 0;
    /*cambiar esto */
    width: 60%;
}
@media (min-width: 769px) {
    .nav{
        display: flex;
        justify-content: space-between;
        
    }
}
@media (min-width: 769px) {
    #boton-menu{
        display: none;
    }
}
#menu-con-nombres{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}
@media (min-width: 769px) {
    #menu-con-nombres{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }
}
.li-link{
    padding: 2rem 0;
    text-align: center;
}
@media (min-width: 769px) {
    .li-link{
        padding: 1rem;
        margin: 1rem;
        border: solid;
        border-radius: 30px;
        
    }
}
.a-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    margin-top: 2rem;
}

@media (min-width: 769px) {
    .a-link{
        text-decoration: none;
        font-size: 3vh;
        color: black;
        margin-top: 2rem;
    }
}

#seccion-bienvenida{
    background-image: url("./imagenes/mountain-bike-portada-mobile.jpg");
    height: 60vh;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-repeat: no-repeat;
}
@media (min-width: 769px){
    #seccion-bienvenida{
        text-shadow:  1px 1px 5px rgba(0,0,0,0.5);
        background-image: url("./imagenes/mountain-bike-portada.jpg");
        background-position: center;
        height: 80vh;

    }
}
#titulo-de-bienvenida{
    font-size: 5vh;
    text-align: center;
}
@media (min-width: 769px){
    #titulo-de-bienvenida{
        font-size: 9vh;
        text-align: center;
    }
}
#subtitulo{
    font-size: 3vh;
    text-align: center;
}

@media (min-width: 769px){
    #subtitulo{
        font-size: 5vh;
        text-align: center;
    }
}

.seccion-biografia{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    padding: 25px;
    height: 50%;
}
@media (min-width: 769px){
    .seccion-biografia{
        min-height: 5;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
    }
}
.biografia{
    margin: 10px 0;
    color: white;
    padding: 32px;
    text-align: center;
}
@media (min-width: 769px){
    .biografia{
        padding: 0;
        max-width: 532px;
        justify-content: center;
    }
}
    
.somos-argenMTB{
    margin: 0;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: orangered
}
@media (min-width: 769px){
    .somos-argenMTB{
        font-size: 5vh;
    }
}

#ciclistas-imagen{
    width: 25vw;
    height: 25vw;
    border: solid orangered;
    margin: 0 auto;
}
@media (min-width: 769px){
    #ciclistas-imagen{
        width: 30vh;
        height: 30vh;
        margin: 0;
    }
}
.seccion-servicios{
    background-color: #FAFAFA;
    padding: 66px 0;
}
@media (min-width: 769px){
    .seccion-servicios{
        padding: 0;
        width: 100%;
        height: 50vh;

    }
}

.mis-servicios{
    margin-bottom: 45px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #2C2C2C;
}
@media (min-width: 769px){
    .mis-servicios{
        font-size: 48px;
    }
}
.contenedor-servicios{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 769px){
    .contenedor-servicios{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-around;
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 55.5px 57px;
}
@media (min-width: 769px){
    .servicio{
        padding: 0;
        width: 20%;
    }
}

.titulo-cosas{
    font-weight: 700;
    font-size: 24px;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 769px){
    .team-container {
        justify-content: center;
        flex-direction: row;
        max-width: 100vw;
      }
}
.team-member {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  @media (min-width: 769px){
    .team-member {
        position: relative;
        max-width: 1200px;
    }
}
.mii{
    height: 50vh;
}
  
.member-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    display: none;
  }
  
.team-member:hover .member-name {
    display: block;
  }

.equipo h2{
    font-family: "Roboto";
    font-size: 48px;
    text-align: center;
}
.imagenen-de-servicio{
    width: 20vh;
    margin-top: 10vh;
    border: solid;
    border-radius: 5px;
}
.formulario{
    color: white;
    background-color: black;
    height: 660px;
    padding: 70px 20px;
}
@media (min-width: 769px){
    .formulario{
       display: grid;
       grid-template-columns: 45% 55%;
       grid-template-rows: 1fr;
       justify-content: center;
    }
}
.titulo-formulario{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 26px;
    margin: 0;
}
@media (min-width: 769px){
    .titulo-formulario{
        text-align: end;
        font-size: 48px;
        padding-right: 77px;
       
    }
}
.fieldset{
    margin-bottom: 27px 
}
.label{
    display: block;
    
}
.input{
    width: 100%;
    height: 45px;
    border: #2C2C2C solid;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.textarea{
    width: 100%;
    height: 113px;
    border: #2C2C2C solid;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.boton-envio{
    margin-top: 60px;
    background-color: orangered;
    width: 100%;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    border: #2C2C2C solid;
    border-radius: 7px;
}
@media (min-width: 769px){
    .input,.textarea,.boton-envio{
        min-width: 300px;
        width: 50%;
    }
}
#formulario-de-proceso{
    background-color: #fff;
    color: #272727;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 20px;
}
@media (min-width: 769px){
    #formulario-de-proceso{
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: 1fr;
        justify-content: center;
    }
}
.contenedor-interactivos{
    width: 100%;
}
.cajas-formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8vh;
    margin-bottom: 2vh;
}
#nombre-usuario-proceso, #nivel-curso, #cantidad-personas-curso{
    height: 100%;
    border: solid;
    border-radius: 7px;
}
#envio-proceso{
    height: 5vh;
    margin: 0 auto;
    width: 50%;
    background-color:aliceblue;
    border: solid ;
    border-radius: 1vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
@media (min-width: 769px){
    #envio-proceso{
       margin: 0;
       min-width: 300px;
       width: 50%;
    }
}
.cajas-formulario label{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-bottom:1vh;
}
.footer{
    background-color: #eeee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 769px){
    .footer{
       flex-direction: row;
       padding: 2vh;
    }
}


#a-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
    text-decoration: none;
}
@media (min-width: 769px){
    #a-footer{
        padding: 0;
    }
}
.logo-footer{
    width: 70px;
    height: 70px;
}
@media (min-width: 769px){
    .logo-footer{
        width: 110px;
        height: 110px;

    }
}
.derechos-de-autor{
    font-size: 13px;
}
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh;
    text-decoration: none;
}
@media (min-width: 769px){
    .redes{
        display: flex;
        flex-direction: row;
    }
}
.fa-github{
    font-size: 5vh;
}
.integrante{
    font-size: 3vh;
    color: #272727;
}
.caja-integrante{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.derechos-de-autor{
    color: #272727;
}
.error{
    font-weight:800;
    display: block;
    color: #f00;
    font-size: 14px;
}